Options +FollowSymLinks
RewriteEngine On

#index
RewriteRule ^inicio$ index.php

#bystudent
RewriteRule ^estudiante/([0-9]+)$ bystudent.php?std=$1
RewriteRule ^estudiante$ bystudent.php

#bycourse
RewriteRule ^curso$ bycourse.php

#byprogram
RewriteRule ^programas$ byprogram.php

#ranks
RewriteRule ^rangos$ rangevalues.php

#area
RewriteRule ^areas$ area.php

#admision process
RewriteRule ^admision$ admission.php

#courses
RewriteRule ^cursos$ cursos.php

#users
RewriteRule ^usuarios$ UserView.php

#login
RewriteRule ^login$ login.php

#profile
RewriteRule ^perfil$ profile.php

#reports
RewriteRule ^reporte/estudiante$ app/reports/student.php
RewriteRule ^reporte/curso$ app/reports/course.php
RewriteRule ^reporte/programa$ app/reports/school.php

#Error 404
RewriteRule ^error$ 404.php
ErrorDocument 404 http://localhost/nivelation/error