Options +FollowSymLinks
RewriteEngine On

#index
RewriteRule ^inicio$ index.php

#bystudent
RewriteRule ^estudiante/([0-9]+)$ bystudent.php?std=$1
RewriteRule ^estudiante$ bystudent.php

#bycourse
RewriteRule ^curso$ bycourse.php

#byprogram
RewriteRule ^programas$ byprogram.php

#byarea
RewriteRule ^area$ byarea.php

#ranks
RewriteRule ^rangos$ rangevalues.php

#area
RewriteRule ^areas$ area.php

#admision process
RewriteRule ^admision$ admission.php

#courses
RewriteRule ^cursos$ cursos.php

#users
RewriteRule ^usuarios$ UserView.php

#login
RewriteRule ^login$ login.php
RewriteRule ^make-login$ app/controllers/login/makeLogin.php
RewriteRule ^make-logout$ app/controllers/login/makeLogout.php

#profile
RewriteRule ^perfil$ profile.php

#directory
RewriteRule ^archivos$ directory.php

#teachers
RewriteRule ^docentes$ teacher.php

#classroms
RewriteRule ^clases$ classroom.php

#reports
RewriteRule ^reporte/estudiante$ app/reports/student.php
RewriteRule ^reporte/curso$ app/reports/course.php
RewriteRule ^reporte/dimension$ app/reports/dimension.php
RewriteRule ^reporte/programa$ app/reports/school.php

#teachers
RewriteRule ^mis-cursos$ my-courses.php
#directors
RewriteRule ^seguimiento$ tracing.php


#graphics
RewriteRule ^estudiante-grafico$ bystudentG.php
RewriteRule ^cursos-grafico$ bycourseG.php
RewriteRule ^programas-grafico$ byprogramG.php

#Error 404
RewriteRule ^error$ 404.php
ErrorDocument 404 /nivelation/error