.valuerange {
    width: 70px;
    font-size: 14px;
    margin: 10px auto -10px auto;
    text-align: center;
}

.link-add-card i {
    font-size: 80px;
}

.form-conotrol-user-combo {
    height: 49px;
}

/* UPLOAD FILE */

input[type="file"]{
    margin: 0 0 15px;
    padding: 10px 1%;
    border-radius: 3px;
}

.progress-bar{
    text-align: center;
    width:0%;
}

.barra_verde{
    background-color: #2ea265  !important;
}
.barra_roja{
    background-color: #de3152 !important;
}

