/* UPLOAD FILE */

input[type="file"] {
    margin: 0 0 15px;
    padding: 10px 1%;
    border-radius: 3px;
}

.progress-bar {
    text-align: center;
    width: 0%;
}

.barra_verde {
    background-color: #2ea265 !important;
}

.barra_roja {
    background-color: #de3152 !important;
}

/*=========== LOGIN 2 ==============*/
.body-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-banner {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.body-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    opacity: 0.1;
}

.card {
    border-radius: 0 !important;
}

.login-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.login-header .img-profile {
    height: 3.5rem;
    width: 3.5rem;
}

.login-header .login-title {
    color: #0564b7 !important;
    margin-bottom: 0;
    font-weight: bold;
    /*  opacity: 0.6; */
}

.form__content {
    display: flex;
    overflow: hidden;
}

.form__content form {
    padding: 20px;
}

.form__content .form-header {
    color: black;
    font-weight: 600;
}

.form__content .input-user {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0564b7;
    width: 100%;
    padding: 10px 0;
    outline: none !important;
}

.form__content .login-help {
    display: flex;
    flex-direction: column;
}

.button-content {
    display: flex;
    justify-content: flex-end;
}

.button-content button {
    width: 120px;
    padding: 8px !important;
    border-radius: 0 !important;
    background-color: #0564b7 !important;
}

.btn-behind {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.btn-behind:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.ocultar-form {
    display: none;
}